<% for race in @races %>
	<div class="dateBox">
		<div class="date">
	    <div class="bigDate"><% if race.date %><%= race.date.strftime('%d') %><% end %></div>
	    <div class="bigDate"><% if race.date %><%= race.date.strftime('%b') %><% end %></div>
		</div>
		<div class="countdown"> </div>
	</div>
	<div class='race_title'><%= link_to race.name, result_path(race.id) %></div>
  <div class='race_title black'><%=h race.distance %></div>
	<div style="clear:left"></div>
<% end %>
