<% for race in @races %>
	<div class="dateBox">
		<div class="date">
	    <div class="bigDate"><% if race.date %><%= race.date.strftime('%d') %><% end %></div>
	    <div class="bigDate"><% if race.date %><%= race.date.strftime('%b') %><% end %></div>
		</div>
		<div class="countdown"> </div>
	</div>
	<h1 id='race_name_front'><%= link_to race.name, result_path(race.id) %></h1>
  <h1 id='race_distance_front'><%=h race.distance %></h1>
	<div style="clear:left"></div>
<% end %>
