/*Examples*/
/*new footer test*/
/* footer */
/*#footer { background:#201e1c url(images/rodape.jpg) repeat-x top; height:200px; border-top:1px solid #b8b2ac; clear:both; }*/
/*#footer #footerBox { width:964px; text-align:right;  color:#fff; padding-top:60px; padding-right:10px; font-size:9px; font-family:Arial, Helvetica, sans-serif; margin:0 auto; }*/
/*#footer #footerBox a { text-decoration:none; }*/
/*#footer #footerBox a:hover { text-decoration:underline; }*/
/*#footer #footerBox #footerText { text-transform:uppercase; }*/
/*#footer #footerBox #footerText a { color:#FFFFFF; }*/
/*#footer #footerBox #footerText a:hover { color:#990100; text-decoration:underline; }*/

/*.footerWeb { color:#7b746b; border-right:2px dotted #7b746b; padding:0px 12px 2px; margin-top:15px; }*/
/*.footerAddress { color:#7b746b; width:100px; padding:0px; margin-top:15px;  }*/
/*.footerMiniText { padding-top:20px; }*/

/*a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}


/*		.pagination a:visited { color:#000; }*/
/*  .pagination .page_info {
    background: #32717E;
    color: white;
    padding: .4em .6em;
    width: 22em;
    margin-bottom: .3em;
    text-align: center; }
    .pagination .page_info b {
      color: #003;
      background: #6aa6ed;
      padding: .1em .25em; }
  .pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .pagination {
    height: 1%; }
  *:first-child+html .pagination {
    overflow: hidden; }*/
*/