html, body { height:100%; }
body { background-color: #fff; color: #333; margin: 0; padding: 0; }
body, p, ol, ul, td { font-family: verdana, arial, helvetica, sans-serif; font-size:13px; line-height: 22px; }
#container { 	min-height: 100%; position: relative;	}
* html #tudo { height: 100%; /* hack para IE6 que trata height como min-height */	}

#content { padding-bottom: 30px; }
#search_form { visibility:hidden; }
#footer { position: absolute;	bottom: 0; text-align: center; min-height:65px;/*    _height: 80%;*/ background-color: #000; width: 100%; padding-top: 10px; }

.footer, ul { font-size: 1.0em; }
.footer, ul, li { display: inline; /*color: #FFAA06;*/ }

#pagination {  }
  #pagination a { display: block; width: 34px; height: 16px; color: #000000; text-decoration: none; padding: 6px 15px; text-align: center; }
    #pagination a.newer { float: left; }
    #pagination a.older { float: right; }
.pagination {  background: white; font-size:18px; text-align:center; width:800px; margin:0 auto; padding-top:20px; }
  .pagination a, .pagination span { padding: .2em .5em; display: block; float: left; margin-right: 1px; }
  .pagination span.disabled { color: #FFF; border: 1px solid #FFF; }
  .pagination span.current { font-weight: bold; background: #000; color: #FFF; border: 1px solid #000; }
  .pagination a { text-decoration: none; background: #FFAA06; color: #000; border: 1px solid #FFAA06; }
    .pagination a:hover, .pagination a:focus { color: #FFF; border-color: #000; }

#menu {
  text-align: center;
  position: relative;
  min-height: 100%;
  _height: 100%;
  width: 100%;
  padding-bottom: -40px;
  font-size: 2.2em;
  padding: 0;
  background-color: #000;
}
#menu ul {
  font-size: 1.2em;
  margin: 0 auto;
  text-align: center;
}
#menu ul li {
  display: inline;
  line-height: 2.0em;
  padding: 0 10px 0 0;
}
#menu ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
}
#menu ul li a:hover {
/*  color: #FFF000;#FFF6BF;#4B4B4B*/
  color: #000;
  background-color: #FFAA06;
}

#logo {
  position: absolute;
  margin: 0;
  top:25px;
  padding:0 0 0 25px;
  font-size:40px;
}

#logo a {
   text-decoration: none;   
}

#logo a:visited {
    color: #FFAA06;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

.internal {
	padding-left:20px;
	padding-top:25px;
	clear:both;
	background-color: #FFF;
	min-height: 600px;
}
.header {
  font-size: 50px;
  padding: 20px;
  float: left;
}
/*Railscast about authologic*/
div#user_nav { 
  font-size: 0.9em;
  float: right;
  padding-right: 30px;
}

.data {
  font-size: 20px;
  padding: 5px;
  border: solid;
  border-color: blue;
}

.race, td {
  color: gray;
  font-size: 20px;
  padding: 5px;
  clear: both;
}

.race_black td {
	color: black;
}

.race_title {
  color:#EA5D0F;
  font-weight:normal;
  font-size:180%;
  float:left;
  padding-top:20px;
  margin:2px 0 15px;
}
.race_title a {
  color:#EA5D0F;
  text-decoration: none;
}

.race_title a:visited {
  color:#EA5D0F;
  text-decoration: none;	
}

.race_title a:hover {
  color:#EA5D0F;
  text-decoration: none;	
}

.black {
    color:black;
    padding-left: 20px;
}

a { color: #000; }
a:visited { color: #555; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

/*new class for date*/

.date_box {
    float:left;
    font-size:11px;
    font-weight:bold;
    margin:0 12px 15px 0;
    text-align:center;
    width:77px;
}
.date_box .date {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:transparent url(../images/date_box-black-bg.png) no-repeat scroll left top;
    color:white;
    margin:0;
    padding:10px 0;
}
.date_box .date .big_date {
/*    color:#FFDD41;*/
/*    color:#FFAA06;*/
    color:#FFF;
    display:block;
    font-size:22px;
    margin:0;
    padding:0;
}
.date_box .countdown {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:transparent url(../images/date_box-orange-bg.png) no-repeat scroll left bottom;
    color:white;
    padding:4px 0 8px;
}

form {
    margin:0;
    padding:0;
}

h1 {
    color:#EA5D0F;
    font-size:200%;
    font-weight:normal;
    margin:2px 0 18px;
    padding:0;
}

h5 {
    color:#000000;
    font-size:200%;
    font-weight:normal;
    margin:2px 0 18px;
    padding:0;
}

h2 {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:transparent url(../images/separator-middlebar.png) repeat-x scroll left bottom;
    clear:both;
    color:#999999;
    font-family:"Arial Narrow","News Gothic",Helvetica,sans-serif;
    font-size:130%;
    font-weight:normal;
    margin:40px 0 0;
    padding:0 0 17px;
}

h2 a {
    color:#999999;
    text-decoration:none;
}

h2 a:hover {
    text-decoration:underline;
}

h2.panel {
    -moz-background-clip:border;
    -moz-background-inline-policy:continuous;
    -moz-background-origin:padding;
    background:transparent url(../images/separator-middlebar.png) repeat-x scroll left bottom;
    color:#FFA200;
    font-size:90%;
    font-weight:normal;
    letter-spacing:0.1em;
    margin:40px 0 0;
    padding:0 0 20px 10px;
}

h2 a {
    text-decoration:none;
}

h3 {
    font-size:110%;
    font-weight:bold;
    margin:20px 0 0;
    padding:0;
}

h4 {
    font-size:100%;
    font-weight:bold;
}

a {
    color:#FF6600;
}
/*a img {
border:medium none;
}*/
