#race_name_front { float:left; padding-top:20px; text-decoration: none;}
#race_distance_front { float:left; padding-top:20px; padding-left:20px; color:black;}

.centralize { text-align:center; width:1040px; margin:0 auto; min-height:400px;}

.align_left{ text-align:left;}

.align_right{ text-align:right; padding-left: 350px;}

