<h1>Ãrea restrita</h1>


<div>
	<% if current_user %>  
    <span><%= link_to "Editar perfil", edit_user_path(:current) %></span><br /> <br /> 
    <span><%= link_to "Sair", logout_path %></span>  
  <% else %>  
    <span><%= link_to "Registrar", new_user_path %></span><br />  <br /> 
    <span><%= link_to "Entrar", login_path %></span>  
  <% end %>  
</div>

<div id="user_nav">  
</div>