  <h1 id="about_title">Sobre o projeto Locamotiva</h1>
  <p class="about">
    Este projeto foi idealizado para facilitar a busca dos resultados das provas realizadas pelos integrantes da equipe de corrida Locamotiva. O intuito é agrupar
    em só local todas as provas e resultados para consultas e estatisticas referentes ao desempenho, volume de provas realizadas e crescimento da equipe.
  </p>
  <p class="about">
    Nesta versão todos os integrantes terão seus resultados registrados, mas futuramente o site estará aberto para resgistro de resultados de todos aqueles que desejarem
    manter informações sobre as corridas realizadas. A ideia é criar uma área de cadastramento onde cada usuário será responsável por manter seus próprios dados atualizados.
  </p>
  <p class="about">  
  Este projeto é resultado da experimentação com o framework de desenvolvimento web 
  <a href="http://www.rubyonrails.pro.br/" alt="Ruby on Rails" title="Ruby on Rails" target="_black">"Ruby on Rails"</a>.
   Todo código do projeto é livre e pode ser encontrado no
  <a href='http://github.com/mauriciodeamorim/loca_runners' alt="GitHub" title="GitHub" target='-blank'>GitHub</a>.
  </p>
  <p class="about">
  Contribuições, sugestões e implementações são bem vindas. 
  </p>
  <p class="about italic">  
  "Gostou da ideia? Copie, melhore e compartilhe suas melhorias, esta é uma das fórmulas para evolução."
  </p>

